.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    background-color: #ffe3e2;
}

.searchAndfilters {
    display: flex;
    justify-content: space-between;
    padding: 15px;;

}