.filterModal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.custom-modal {
    position: absolute;
    top: 10%;
    left: 60%;
    right: 0;
    bottom: 0;
    width: 30%;
    height:fit-content;
    max-width: 300px; /* Optional: Set a maximum width if needed */
    background-color: #fff;
    padding: 20px;
  }
  
  .custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .close-button {
    margin-bottom: 10px;
  }